################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectLiberty/.vs/ProjectLiberty/v15/Server/sqlite3
/ProjectLiberty/obj/Debug
/ProjectLiberty/bin/Debug
